k config set-context $(kubectl config current-context) --namespace=dev    //get into namespace dev, afterwards all the performancd would be done in this namespace

k get pods --all-namespace    
or
k get pods -A

1. Create a POD in the finance namespace.
Use the spec given below:
Name: redis
Image name: redis

A:
kubectl run redis --image=redis -n finance
or
k config set-context $(kubectl config current-context) --namespace=finance
kubectl run redis --image=redis

//cant understand this question ???????????????????????????????????????????????????????????????????????????????????
2.What is the shortest DNS name the Blue application should use to access the database redis-db-service in its own namespace - marketing?
You can try it in the web application UI. Use port 6379.
A:
k get pods -n=marketing
k get svc -n=marketing

3. What DNS name should the Blue application use to access the database redis-db-service in the dev namespace?
You can try it in the web application UI. Use port 6379.
A:
Since the blue application and the redis-db-service are in different namespaces. In this case, we need to use the service name along with the namespace to access the database. 
The FQDN (fully Qualified Domain Name) for the redis-db-service in this example would be redis-db-service.dev.svc.cluster.local.
Note: You can also access it using the service name and namespace like this: redis-db-service.dev

